CONFIGURATIONS="Release"
ProvisionFileDistribution=IncidentTracker.mobileprovision
CodesignDistribution="iPhone Distribution: ICS Nett, Inc"
OTAURL="http://path/to/my/beta/site"
OTASmallIcon=Icon-57.png
OTALargeIcon=Icon-512.png

OUTPUT = "/Projects/Personal/Workspace/HudsonTest"
fileprefix = "HudsonTest"
