CONFIGURATIONS="Release"
ProvisionFileDistribution=IncidentTracker.mobileprovision
CodesignDistribution="iPhone Distribution: ICS Nett, Inc"
OTAURL=http://69.33.0.204/test_ipa
OTASmallIcon=Icon-57.png
OTALargeIcon=Icon-512.png

OTATitle = Hudson Test
OTASubtitle = Hudson iOS automated build testing

OUTPUT = /Projects/Hudson/iOS_Hudson/HudsonTest
fileprefix = HudsonTest

bundle_id = icsnett.incident-tracker


